
# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
Thumbs.db
*.log

# Ignore large data files (optional)
#*.json
/velocity_fields_maps/**.json
/structure_function/Ar_III-7136_mask_0_bin_0.json
/structure_function/H_I-6563_mask_0_bin_0.json
/structure_function/O_III-5007_mask_0_bin_0.json
/structure_function/O_III-4959_mask_0_bin_0.json
/structure_function/O_III-4959_mask_bin_0.json
/structure_function/N_II-6583_mask_0_bin_0.json
/structure_function/N_II-6548_mask_0_bin_0.json
/structure_function/S_III-9069_mask_0_bin_0.json
/structure_function/N_II-6583_mask_bin_4_strucfunc.ipynb

# Ignore all deprecated folders
**/deprecated/
