
# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
Thumbs.db
*.log

# Ignore large data files (optional)
*.fits